doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Node Admin

        link(href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css", rel="stylesheet", type="text/css")
        script(src="https://cdn.tailwindcss.com")

    body.overflow-hidden
        include ../partials/navbar
        .drawer.drawer-mobile
            input#my-drawer-2.drawer-toggle(type="checkbox")
            .drawer-content.p-5
                block body
            .drawer-side.p-4.w-60.bg-base-300.h-screen.overflow-y-hidden
                label
                    ul.menu.mt-2
                        li
                            a(href="/", class="rounded") Overview
                        li
                            a(href="/processes", class="rounded") Processes
                        li
                            a(href="/terminal", class="rounded") Terminal
                        li
                            a(href="/file_manager", class="rounded") File Manager
